<% provide(:title, "About") %>
<section id="grids">
  <!--Div with a class of container-->
  <div class="container">
    <div class="team">
      <%= image_tag("team.jpg", alt: "Products Image", style: "height: 350px; width: 450px; border-radius: 2px") %> 
    </div>
    <div class="team">
      <h3>About Us</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Augue ut lectus arcu bibendum at varius vel pharetra. Feugiat in ante metus dictum. Gravida dictum fusce ut placerat. 
          Sollicitudin tempor id eu nisl nunc mi. Malesuada fames ac turpis egestas maecenas pharetra convallis. 
          Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Feugiat pretium nibh ipsum consequat. 
          Varius duis at consectetur lorem donec massa sapien faucibus et. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. 
          Eget magna fermentum iaculis eu non diam. Faucibus nisl tincidunt eget nullam non nisi est sit. Eu sem integer vitae justo eget magna.
        </p>
    </div>
  </div>
</section>