<% provide(:title, "Home") %>
        
        <section id="showcase">
            <div class="container">
                <h1>Affordable New and Second Hand Books</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
        </section>
        
        <section id="divider"></section>
        
        <section id="logos">
            <div class="container">
                <div class="logo">
                    <%= image_tag("books.jpg", alt: "Products Image", style: "height: 150px; width: 250px; border: #333 2px solid; border-radius: 2px") %> 
                    <h3>Products</h3>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="logo">
                    <%= image_tag("about.jpg", alt: "The Team Image", style: "height: 150px; width: 250px; border: #333 2px solid; border-radius: 2px") %>    
                    <h3>About</h3>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="logo">
                    <%= image_tag("contact.jpg", alt: "Contact Image", style: "height: 150px; width: 250px; border: #333 2px solid; border-radius: 2px") %> 
                    <h3>Contact</h3>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </section>
        
    </body>


</html>
